---
const response = await fetch('http://127.0.0.1:1337/api/courses?populate=*');
    const { data } = await response.json();

    const { title } = Astro.props;
---
<div class="pt-24 h-full bg-base1 rounded-xl lg:pb-40 text-left px-12">
    <p class="text-regular mb-14">Course</p>
    <h1 class="text-3xl sm:text-3xl font-heading font-semibold mb-16">{title}</h1>
    <div class="group relative inline-block h-16 w-80 bg-base3 text-base4 rounded-lg">
      <div class="absolute top-0 left-0 transform -translate-y-1 -translate-x-1 w-full h-full group-hover:translate-y-0 group-hover:translate-x-0 transition duration-300">
        <div class="flex inline-flex w-full items-center px-4 py-4 justify-center bg-brand11 rounded-lg">
          <span class="text-base font-semibold uppercase">Register for this Course</span>
        </div>
      </div>
    </div>
  </div>