
@import "pagefind.scss";


:root, :root .theme-light, :root .theme-dark {
    --font-base: 'Plus Jakarta Sans', sans-serif;
}

body, html {
    font-family: var(--font-base);
    @apply antialiased ease-out;
}


/*width*/
.infor-scroll::-webkit-scrollbar, :root::-webkit-scrollbar {
width:12px;
background-color:rgb(255, 255, 255);
}
/*track*/
.infor-scroll::-webkit-scrollbar-track, :root::-webkit-scrollbar-track {
background:rgba(255, 255, 255, 0.5);
border-width:1px;
border-style:solid;
border-color:rgb(242, 242, 242);
border-radius:12px;
}
/*thumb*/
.infor-scroll::-webkit-scrollbar-thumb, :root::-webkit-scrollbar-thumb {
background:rgb(209, 209, 209);
border-width:1px;
border-style:solid;
border-color:rgb(255, 255, 255);
border-radius:12px;
box-shadow:rgb(255, 255, 255) 1px 0px 12px 4px;
}
/*thumb hover*/
.infor-scroll::-webkit-scrollbar-thumb:hover, :root::-webkit-scrollbar-thumb:hover {
background:rgba(213, 213, 213, 1);
border-width:1px;
border-style:solid;
border-color:rgba(255, 255, 255, 1);
border-radius:12px;
border-top-left-radius:12px;
border-top-right-radius:12px;
border-bottom-left-radius:12px;
border-bottom-right-radius:12px;
box-shadow: 1px 0px 12px 4px rgba(188, 188, 188, 1);
}
/*thumb pressed*/
.infor-scroll::-webkit-scrollbar-thumb:active, :root::-webkit-scrollbar-thumb:active {
background:rgba(233, 233, 233, 1);
border-color:rgba(255, 255, 255, 1);
border-radius:12px;
border-top-left-radius:12px;
border-top-right-radius:12px;
border-bottom-left-radius:12px;
border-bottom-right-radius:12px;
box-shadow: 1px 0px 10px 4px rgba(255, 255, 255, 1);
}


.infor-lifecycle-card:nth-child(1) {
    @apply bg-[#FFDD63] text-amber12;
}
.infor-lifecycle-card:nth-child(2) {
    @apply bg-[#63FF8F] text-base12;
}
.infor-lifecycle-card:nth-child(3) {
    @apply bg-[#63D0FF] text-base12;
}
.infor-lifecycle-card:nth-child(4) {
    @apply bg-violet9;
}
.infor-lifecycle-card:nth-child(5) {
    @apply bg-gold9;
}


#toggleFilters.collapseFilters {
    @apply calc(left-2/6 - -left-1.8/6) transition-all ease-in-out duration-600;
  }
   
#inforHeader {
    @apply pl-2/6 px-8 transition-all ease-in-out duration-600;
  }

  #inforHeader.collapseFilters {
    @apply pl-8 transition-all ease-in-out duration-600;
  }

  #inforMainSection {
    @apply transition-all ease-in-out duration-600 pl-[calc(33.3%+32px)];
  }

  #inforMainSection.collapseFilters {
    @apply transition-all ease-in-out duration-600 pl-[calc(0%+32px)];
  }

  div:has( > span + span.inforRole-list) {
    @apply bg-base1 text-base11 hover:bg-base5 border-none;
  }

  div:has( > span + span.inforRole-list) span:first-of-type {
    @apply bg-brand3 rounded border-1 border-brand5 hover:focus:bg-brand9 w-4 h-4 ring-0 shadow-none transition-all;
  }

  div:has(>span+span.inforRole-list):hover,  div:has(> span + span.inforRole-list[aria-checked="true"]) {
    @apply text-base12;
  }

  div:has(>span+span.inforRole-list):hover:hover, div:has(>span+span.inforRole-list[aria-checked=true]):hover {
    display:none;
    @apply inline-flex bg-base12 text-brand1 shrink-0 items-center justify-center border-3 border-base1 group-hover:border-base1 bg-base1 hover:bg-brand9 transition-all;
  }

  div:has(>span+span.inforRole-list[aria-checked=true]), div:has(> span + span.inforRole-list[aria-checked=true]) div {
    @apply text-brand1;
  }

