<div
  class="relative gap-5 justify-items-center self-center place-content-start place-items-start my-0 leading-5 text-stone-100 xl:mt-24 xl:gap-6 sm:mt-24"
  style="grid-template-columns: 1fr 1fr 1fr; grid-template-rows: auto; z-index: 2;"
></div>
