<section class="relative w-full bg-base9" style="
background-color: rgb(185, 28, 28);
background-image: radial-gradient(at 7% 72%, rgb(224, 231, 255) 0, transparent 92%), radial-gradient(at 53% 8%, rgb(236, 252, 203) 0, transparent 60%), radial-gradient(at 95% 100%, rgb(30, 64, 175) 0, transparent 8%), radial-gradient(at 81% 56%, rgb(163, 230, 53) 0, transparent 69%), radial-gradient(at 16% 71%, rgb(132, 204, 22) 0, transparent 33%), radial-gradient(at 44% 87%, rgb(39, 39, 42) 0, transparent 17%);
">
    <div class="container mx-auto relative pr-4">
      <img class="hidden md:block absolute bottom-0 left-0 mb-52 lg:mb-12 w-full" src="/half-circles-with-logo_onDark.svg" alt="">
      <div class="relative">
        <div class="flex items-center mb-24 sm:mb-40">
          <span class="font-heading text-xl text-white">01</span>
          <div class="mx-4 rounded-full bg-gray-200 h-1 w-1"></div>
          <span class="font-heading text-xl text-white">Introduction</span>
        </div>
        <div class="text-center mb-32">
          <h1 class="font-heading text-5xl sm:text-6xl md:text-7xl text-base12 font-semibold">How it works?</h1>
        </div>
        <div class="flex flex-wrap -mx-4 mb-24 md:mb-52">
          <div class="w-full md:w-1/2 2xl:w-1/4 px-4 mb-16 2xl:mb-0">
            <div class="max-w-xs mx-auto pt-8 pb-14 px-8 bg-white border hover:border-base6 rounded-xl hover:transition-shadow hover:shadow-sm  shadow-2xl bg-white border hover:border-base6 rounded-xl hover:transition-shadow hover:shadow-sm  shadow-2xl">
              <span class="text-sm text-base9">Course 1</span>
              <h4 class="text-3xl mt-1 mb-8">Infor: Introduction to IPON 2.0</h4>
              <div>
                <span class="font-light text-base9">Start anytime!</span>
                <a class="inline-block font-light text-base9 hover:text-gray-400" href="#">Click here</a>
              </div>
            </div>
          </div>
          <div class="w-full md:w-1/2 2xl:w-1/4 px-4 2xl:mt-52 mb-16 2xl:mb-0">
            <div class="max-w-xs mx-auto pt-8 pb-14 px-8 bg-white border hover:border-base6 rounded-xl hover:transition-shadow hover:shadow-sm  shadow-2xl">
              <span class="text-sm text-base9">Event 1</span>
              <h4 class="text-3xl mt-1 mb-8">Register to start your path to certification</h4>
              <div>
                <span class="font-light text-base9">Get started.</span>
                <a class="inline-block font-light text-base9 hover:text-gray-400" href="#">Click here</a>
              </div>
            </div>
          </div>
          <div class="w-full md:w-1/2 2xl:w-1/4 px-4 2xl:mt-52 mb-16 md:mb-0">
            <div class="max-w-xs mx-auto pt-8 pb-14 px-8  bg-white border hover:border-base6 rounded-xl hover:transition-shadow hover:shadow-sm  shadow-2xl">
              <span class="text-sm text-base9">Course 2</span>
              <h4 class="text-3xl mt-1 mb-8">Find your unique style</h4>
              <div>
                <span class="font-light text-base9">Get started.</span>
                <a class="inline-block font-light text-base9 hover:text-gray-400" href="#">Click here</a>
              </div>
            </div>
          </div>
          <div class="w-full md:w-1/2 2xl:w-1/4 px-4">
            <div class="max-w-xs mx-auto pt-16 pb-8 bg-red11 border border-red10 hover:border-red10 px-6 rounded-xl hover:transition-shadow hover:shadow-sm  shadow-2xl">
              <span class="text-sm text-base3">Certification</span>
              <h4 class="text-3xl text-base1 mt-1 mb-8">Build your career!</h4>
              <div>
                <span class="font-light text-base12">Get started.</span>
                <a class="inline-block font-light text-red1 hover:text-red-3" href="#">Click here</a>
              </div>
            </div>
          </div>
        </div>
        <img class="block mx-auto md:hidden" src="/half-circles-with-logo_onDark.svg" alt="">
        <div class="sm:flex"><a class="inline-block w-full sm:w-auto sm:mr-24 md:mr-40 mb-2 sm:mb-0 text-white" href="#">Download Learning Path handout</a><a class="inline-block w-full sm:w-auto sm:mr-auto mb-2 sm:mb-0 text-white" href="#">Have you taken this course and interested in becoming a mentor? Click here.</a><a class="inline-block w-full sm:w-auto text-white" href="#">Message a mentor of this course</a></div>
      </div>
    </div>
  </section>