<div
  class="flex overflow-hidden flex-col items-center leading-5 text-stone-100"
>
  <div
    class="pt-40 mx-auto w-64 text-stone-100 xl:w-64 xl:pt-40 sm:w-64 sm:pt-40"
  >
    <div
      class="grid justify-items-center w-64 font-sans opacity-100 xl:w-64 xl:justify-items-stretch xl:gap-y-0 sm:w-64 sm:gap-y-0"
      style='transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1; gap: 0px 20px; grid-template: "." / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; grid-auto-columns: 1fr;'
    >
      <h2
        id="w-node-_21f333c0-962e-56a0-f85f-cee8c71ac3ef-3faa8475"
        class="col-end-3 justify-self-start mt-0 w-auto text-5xl xl:col-end-9 xl:mt-32 xl:w-64 xl:text-6xl sm:text-6xl"
        style="line-height: 66px; letter-spacing: -1.5px; grid-area: 1 / 1 / 2 / 11;"
      >
        Product redesign brings positive changes
      </h2>
      <div
        id="w-node-_21f333c0-962e-56a0-f85f-cee8c71ac3f1-3faa8475"
        class="justify-self-end mt-5 mb-12 xl:mt-16 xl:mb-24 sm:mt-16 sm:mb-24"
        style="grid-column: 1 / 3;"
      >
        <p
          class="text-xl font-normal leading-9 text-left text-stone-200 xl:text-3xl xl:tracking-tight sm:text-3xl"
          style="letter-spacing: -1px;"
        >
          Whatever the reason for your SaaS website redesign, we make sure it
          positively impacts your bottom line.
        </p>
      </div>
      <div
        id="w-node-_21f333c0-962e-56a0-f85f-cee8c71ac3f4-3faa8475"
        class="col-end-2 py-10 px-6 border border-white border-solid opacity-100 bg-zinc-400 bg-opacity-[0.4] xl:px-8 xl:py-16 sm:px-8 sm:py-16"
        style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1; border-radius: 20px; grid-area: 3 / 1 / 4 / 5;"
      >
        <img
          src="https://assets-global.website-files.com/5e8b3356a5a8f5321855bbe7/61c9dfaad1ade5fac2cb3e28_Chat.png"
          loading="lazy"
          width="85"
          height="85"
          alt=""
          class="inline-block w-20 max-w-full h-20 align-middle xl:h-32 xl:w-32 sm:h-32 sm:w-32"
        />
        <div class="mt-6 mb-2">
          <p
            class="p-0 mb-4 text-xl font-medium tracking-normal leading-8 bg-transparent rounded-none xl:text-2xl xl:font-bold xl:leading-9 xl:tracking-wide sm:text-2xl sm:leading-9"
            style="min-height: auto;"
          >
            Make your product look modern
          </p>
        </div>
        <p
          class="mb-0 text-base font-normal leading-7 xl:text-xl xl:leading-8 sm:text-xl sm:leading-9"
        >
          Want to update a mature product? We'll help you stay with the times.
          The redesign makes an app more appealing to new users without
          alienating existing customers.
        </p>
      </div>
      <div
        id="w-node-_21f333c0-962e-56a0-f85f-cee8c71ac3fb-3faa8475"
        class="py-8 px-5 mt-0 opacity-100 bg-zinc-400 bg-opacity-[0.4] xl:px-8 xl:py-16 sm:px-8 sm:py-16"
        style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1; grid-area: 3 / 5 / 4 / 9; border-radius: 20px;"
      >
        <img
          src="https://assets-global.website-files.com/5e8b3356a5a8f5321855bbe7/61c9dfaad1ade536dccb3e2a_Chat-2.png"
          loading="lazy"
          width="85"
          height="85"
          alt=""
          class="inline-block w-20 max-w-full h-20 align-middle xl:h-32 xl:w-32 sm:h-32 sm:w-32"
        />
        <div class="mt-6 mb-2">
          <p
            class="p-0 mb-4 text-xl font-medium tracking-normal leading-8 bg-transparent rounded-none xl:text-2xl xl:font-bold xl:leading-9 xl:tracking-wide sm:text-2xl sm:leading-9"
            style="min-height: auto;"
          >
            Improve the user experience
          </p>
        </div>
        <p
          class="mb-0 text-base font-normal leading-7 xl:text-xl xl:leading-8 sm:text-xl sm:leading-9"
        >
          UX audit is a great way to reveal user experience problems. We'll
          identify usability issues and help you fix them so that you could
          provide a superior product to your users.
        </p>
      </div>
      <div
        id="w-node-_21f333c0-962e-56a0-f85f-cee8c71ac402-3faa8475"
        class="col-end-2 mt-0 opacity-100 bg-zinc-400 bg-opacity-[0.4] xl:px-8 xl:py-16 sm:px-8 sm:py-16"
        style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1; grid-area: 3 / 9 / 4 / 13; align-self: end; border-radius: 20px;"
      >
        <img
          src="https://assets-global.website-files.com/5e8b3356a5a8f5321855bbe7/61c9dfaad1ade53100cb3e2c_Chat-3.png"
          loading="lazy"
          width="85"
          height="85"
          alt=""
          class="inline-block w-20 max-w-full h-20 align-middle xl:h-32 xl:w-32 sm:h-32 sm:w-32"
        />
        <div class="mt-6 mb-2">
          <p
            class="p-0 mb-4 text-xl font-medium tracking-normal leading-8 bg-transparent rounded-none xl:text-2xl xl:font-bold xl:leading-9 xl:tracking-wide sm:text-2xl sm:leading-9"
            style="min-height: auto;"
          >
            Increase positive feedback
          </p>
        </div>
        <p
          class="mb-0 text-base font-normal leading-7 xl:text-xl xl:leading-8 sm:text-xl sm:leading-9"
        >
          User feedback can make or break a product. With a simple and intuitive
          SaaS web redesign you can reposition your product in the minds of
          customers and get more 5-star reviews.
        </p>
      </div>
      <div
        id="w-node-_21f333c0-962e-56a0-f85f-cee8c71ac409-3faa8475"
        class="py-8 px-5 mt-6 opacity-100 bg-zinc-400 bg-opacity-[0.4] xl:px-8 xl:py-16 sm:px-8 sm:py-16"
        style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1; grid-area: 4 / 1 / 5 / 5; border-radius: 20px;"
      >
        <img
          src="https://assets-global.website-files.com/5e8b3356a5a8f5321855bbe7/61c9dfaad1ade57a40cb3e2e_Chat-1.png"
          loading="lazy"
          width="85"
          height="85"
          alt=""
          class="inline-block w-20 max-w-full h-20 align-middle xl:h-32 xl:w-32 sm:h-32 sm:w-32"
        />
        <div class="mt-6 mb-2">
          <p
            class="p-0 mb-4 text-xl font-medium tracking-normal leading-8 bg-transparent rounded-none xl:text-2xl xl:font-bold xl:leading-9 xl:tracking-wide sm:text-2xl sm:leading-9"
            style="min-height: auto;"
          >
            Justify a higher price tag
          </p>
        </div>
        <p
          class="mb-0 text-base font-normal leading-7 xl:text-xl xl:leading-8 sm:text-xl sm:leading-9"
        >
          Looking to increase revenue? There is a tried and true method –
          product redesign. Revamped products make an impression of "new and
          improved" justifying a higher price tag.
        </p>
      </div>
      <div
        id="w-node-_21f333c0-962e-56a0-f85f-cee8c71ac410-3faa8475"
        class="justify-self-start self-center opacity-100"
        style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1; grid-area: 4 / 6 / 5 / 13;"
      >
        <h3
          class="mt-16 mb-0 max-w-none text-5xl font-bold xl:text-6xl sm:text-6xl"
          style="line-height: 70px; letter-spacing: -1.5px;"
        >
          Need to revamp your website as well?
        </h3>
        <a
          data-w-id="21f333c0-962e-56a0-f85f-cee8c71ac413"
          href="/redesign-website"
          class="block relative flex-col pt-0 pb-4 my-auto ml-0 w-64 text-lg font-bold leading-7 cursor-default xl:w-64 xl:cursor-pointer xl:pt-40 xl:font-sans xl:text-xl xl:font-bold xl:leading-9 xl:text-stone-100 hover,xl:opacity-100 sm:w-64"
          style="padding-right: 400px; transform: perspective(1000px); text-decoration: none;"
          ><img
            src="https://assets-global.website-files.com/619ba39aebf7964b5a107c4e/619ba39aebf796586b107f45_2arrtorq.svg"
            alt=""
            class="block object-fill absolute w-8 h-3 text-xl leading-9 opacity-0 cursor-pointer mix-blend-soft-light xl:w-8 xl:opacity-0 sm:w-64 sm:opacity-80 sm:mix-blend-soft-light"
            style="opacity: 0; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; inset: auto auto -20% 0px;" /><img
            src="https://assets-global.website-files.com/619ba39aebf7964b5a107c4e/619ba39aebf79648d0107c95_11th_section_arrow.svg"
            alt=""
            class="w-8 h-4 text-xl leading-9 opacity-100 cursor-pointer xl:w-8 xl:opacity-100"
            style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1; top: 30px; left: 480px;" />
          <p
            class="mt-10 mb-0 w-auto text-5xl text-orange-400 cursor-pointer xl:relative xl:mt-5 xl:w-64 xl:text-6xl hover,xl:transform-none sm:text-6xl"
            style="color: rgb(255, 142, 94); line-height: 70px; letter-spacing: -1px; text-decoration: none;"
          >
            Our redesign services<br
              class="text-6xl"
              style="line-height: 84px; letter-spacing: -1.5px;"
            />
          </p>
          <div
            class="w-64 text-xl leading-9 bg-orange-400 rounded-none border border-orange-400 cursor-pointer xl:w-64 xl:bg-orange-400 sm:w-64"
            style="border-color: rgb(255, 142, 94); background-color: rgb(255, 142, 94);"
          ></div
        ></a>
      </div>
    </div>
  </div>
  <div
    class="flex-col justify-center items-center mt-24 mb-16 bg-none bg-sky-300 xl:my-40 sm:my-40 sm:bg-none"
    style="height: 470px;"
  >
    <p
      class="text-6xl font-bold text-center xl:text-6xl sm:text-6xl"
      style="line-height: 85px; letter-spacing: -2px; max-width: 750px;"
    >
      "They were able to really listen to us and learn about our business"
    </p>
    <div class="text-stone-100">
      <div class="mt-12 mb-2">
        <div
          class="text-3xl font-bold text-center text-zinc-900 xl:text-4xl sm:text-4xl"
          style="line-height: 42px;"
        >
          Pieter Kinds
        </div>
      </div>
      <div
        class="text-xl leading-6 text-center text-slate-500 xl:text-2xl xl:leading-7 sm:text-2xl sm:leading-7"
      >
        CEO of TendrX
      </div>
    </div>
  </div>
</div>
