<div class="relative max-w-vw">
  <div class="overflow-visible relative" style="z-index: 2;">
    <div
      class="pt-0 mx-auto w-64 xl:flex xl:w-auto xl:justify-center sm:w-64 sm:pt-0"
    >
    <slot />
      <div
        class="grid justify-items-center w-64 font-sans opacity-100 xl:w-64 xl:justify-items-stretch xl:gap-y-0 sm:w-64 sm:gap-y-0"
        style='transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1; gap: 0px 20px; grid-template: "." / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; grid-auto-columns: 1fr;'
      >
        <img
          src="/shape-icons/61c9dfabd1ade58aabcb3e3d_-%20Sphere-3.png"
          loading="lazy"
          alt=""
          class="inline-block absolute w-24 max-w-full align-middle xl:w-32 sm:left-1/4"
          style="inset: auto auto 2% 8%; z-index: 3;"
        />
      </div>
    </div>
  </div>
  <div class="overflow-visible pt-12" style="z-index: 2;">
    <img
      src="/shape-icons/61c9dfabd1ade55fa2cb3e39_-%20Sphere.png"
      loading="lazy"
      alt=""
      class="inline-block absolute w-16 max-w-full xl:w-20 sm:w-24"
      style="top: -10px; right: 30%; z-index: 3;"
    />
  </div>
  <img
    src="/shape-icons/61c9dfaad1ade51453cb3e30_-%20Sphere%20BO.png"
    loading="lazy"
    alt=""
    class="inline-block absolute w-20 max-w-full xl:w-24 sm:w-24"
    style="inset: 470px 370px auto auto;"
  /><img
    src="/shape-icons/61c9dfabd1ade58aabcb3e3d_-%20Sphere-3.png"
    loading="lazy"
    alt=""
    class="absolute w-32 max-w-full"
    style="inset: 240px -100px auto auto; z-index: 3;"
  /><img
    src="/shape-icons/61c9dfabd1ade52175cb3e3b_-%20Sphere-2.png"
    loading="lazy"
    alt=""
    class="inline-block absolute w-32 max-w-full"
    style="inset: 530px auto auto -70px;"
  /><img
    src="/shape-icons/61c9dfabd1ade52175cb3e3b_-%20Sphere-2.png"
    loading="lazy"
    alt=""
    class="inline-block absolute w-24 max-w-full sm:w-32"
    style="inset: 620px auto auto -30px;"
  /><img
    src="/shape-icons/61c9dfabd1ade52175cb3e3b_-%20Sphere-2.png"
    loading="lazy"
    alt=""
    class="inline-block absolute w-24 max-w-full xl:w-24"
    style="inset: 1130px -5% auto auto;"
  /><img
    src="/shape-icons/61c9dfabd1ade52175cb3e3b_-%20Sphere-2.png"
    loading="lazy"
    alt=""
    class="inline-block absolute w-20 max-w-full"
    style="inset: 700px 78% auto auto; z-index: 3;"
  /><img
    src="/shape-icons/61c9dfaad1ade589f7cb3e32_-%20Sphere%20SO.png"
    loading="lazy"
    alt=""
    class="inline-block absolute w-10 max-w-full"
    style="inset: 700px 0px auto 22%; z-index: 3;"
  /><img
    src="/shape-icons/61c9dfaad1ade589f7cb3e32_-%20Sphere%20SO.png"
    loading="lazy"
    alt=""
    class="inline-block absolute w-10 max-w-full"
    style="inset: 1140px 0px auto 86%; z-index: 3;"
  /><img
    src="/shape-icons/61c9dfaad1ade589f7cb3e32_-%20Sphere%20SO.png"
    loading="lazy"
    alt=""
    class="inline-block absolute w-10 max-w-full align-middle"
    style="inset: 010px 0px auto 75%;"
  /><img
    src="/shape-icons/61c9dfabd1ade55fa2cb3e39_-%20Sphere.png"
    loading="lazy"
    alt=""
    class="inline-block absolute w-8 max-w-full sm:w-10"
    style="top: 660px; right: 3%; z-index: 3;"
  /><img
    src="/shape-icons/61c9dfabd1ade55fa2cb3e39_-%20Sphere.png"
    loading="lazy"
    alt=""
    class="inline-block absolute w-8 max-w-full align-middle xl:w-10"
    style="top: 500px; right: 7%;"
  />
</div>
