<div class="leading-5 text-stone-100">
    <div class="px-6 mx-auto text-stone-100 sm:block" style="max-width: 482px;">
      <div class="">
        <div class="">
          <div class="mb-px">
            <h3
              class="block mb-0 font-sans text-3xl font-bold leading-9 text-zinc-900 sm:mb-6 sm:text-4xl"
              style="letter-spacing: -1px;"
            >
              SaaS design
              <br
                class="text-4xl"
                style="line-height: 48px; letter-spacing: -1px;"
              />
            </h3>
            <div
              class="inline-block relative sm:inline-block"
              style="inset: 0px;"
            >
              <div
                class="inline-block mb-0 text-xl font-bold leading-9 sm:mb-0 sm:text-4xl"
                style="letter-spacing: -1px;"
              >
                talent
              </div>
              <div
                data-w-id="490d5369-6973-042e-f8ce-071bfe52ddc6"
                data-is-ix2-target="1"
                class="absolute"
                data-animation-type="lottie"
                data-src="https://assets-global.website-files.com/5e8b3356a5a8f5321855bbe7/63e0e73fea7c877a40159bd9_img-6.json"
                data-loop="0"
                data-direction="1"
                data-autoplay="0"
                data-renderer="svg"
                data-duration="1.0333333333333334"
                style="inset: -10px;"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 98 43"
                  width="98"
                  height="43"
                  preserveAspectRatio="xMidYMid meet"
                  style="width: 100%; height: 100%; transform: translate3d(0px, 0px, 0px);"
                  class="w-full h-full"
                >
                  <defs class="">
                    <clipPath id="__lottie_element_38" class="">
                      <rect width="98" height="43" x="0" y="0" class=""></rect>
                    </clipPath>
                  </defs>
                  <g clip-path="url(#__lottie_element_38)" class="">
                    <g
                      transform="matrix(1,0,0,1,49.207000732421875,21.576000213623047)"
                      opacity="1"
                      style="display: block;"
                      class="block"
                    >
                      <g opacity="1" transform="matrix(1,0,0,1,0,0)" class="">
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="miter"
                          fill-opacity="0"
                          stroke-miterlimit="4"
                          stroke="rgb(255,142,94)"
                          stroke-opacity="1"
                          stroke-width="2"
                          d=" M-37.65700149536133,8.21500015258789 C-19.45599937438965,15.677000045776367 22.38800048828125,25.479000091552734 44.150001525878906,4.98799991607666 C71.35199737548828,-20.625 -103.69100189208984,-32.691001892089844 -27.83099937438965,17.17799949645996"
                          class=""
                        ></path>
                      </g>
                    </g>
                  </g>
                </svg>
              </div>
            </div>
          </div>
          <p
            class="text-xl font-normal tracking-tight leading-8 text-zinc-900 sm:text-2xl"
          >
            for full-time
            <br class="text-2xl" style="line-height: 42px;" />engagements
          </p>
        </div>
        <div
          class="flex-col justify-between items-start py-6 px-8 w-64 h-24 bg-white sm:w-64 sm:p-10"
          style="min-width: 220px; border-radius: 14px;"
        >
          <div class="relative">
            <h3
              class="inline-block my-0 font-sans text-3xl font-bold leading-9 text-zinc-900 sm:mb-0 sm:text-4xl"
              style="letter-spacing: -1px;"
            >
              Faster
            </h3>
            <div
              data-w-id="e1a9c54b-12dc-0e14-c227-337f2ecbac6a"
              data-is-ix2-target="1"
              class="absolute w-4 sm:w-5"
              data-animation-type="lottie"
              data-src="https://assets-global.website-files.com/5e8b3356a5a8f5321855bbe7/63e0e73f81d6520742db5539_img-7.json"
              data-loop="0"
              data-direction="1"
              data-autoplay="0"
              data-renderer="svg"
              data-duration="1.0333333333333334"
              style="inset: 0px -20% auto auto;"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 23 24"
                width="23"
                height="24"
                preserveAspectRatio="xMidYMid meet"
                style="width: 100%; height: 100%; transform: translate3d(0px, 0px, 0px);"
                class="w-full h-full"
              >
                <defs class="">
                  <clipPath id="__lottie_element_42" class="">
                    <rect width="23" height="24" x="0" y="0" class=""></rect>
                  </clipPath>
                </defs>
                <g clip-path="url(#__lottie_element_42)" class="">
                  <g
                    transform="matrix(1,0,0,1,11.965999603271484,11.407999992370605)"
                    opacity="1"
                    style="display: block;"
                    class="block"
                  >
                    <g opacity="1" transform="matrix(1,0,0,1,0,0)" class="">
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="miter"
                        fill-opacity="0"
                        stroke-miterlimit="4"
                        stroke="rgb(255,142,94)"
                        stroke-opacity="1"
                        stroke-width="2"
                        d=" M-10.553000450134277,-7.8460001945495605 C-10.553000450134277,-7.8460001945495605 -9.251999855041504,-0.6869999766349792 -9.251999855041504,-0.6869999766349792 C-9.251999855041504,-0.6869999766349792 -0.7139999866485596,-9.633000373840332 -0.7139999866485596,-9.633000373840332 C-0.7139999866485596,-9.633000373840332 -4.169000148773193,0.4440000057220459 -4.169000148773193,0.4440000057220459 C-4.169000148773193,0.4440000057220459 8.819000244140625,-1.9140000343322754 8.819000244140625,-1.9140000343322754 C8.819000244140625,-1.9140000343322754 -1.1890000104904175,5.656000137329102 -1.1890000104904175,5.656000137329102 C-1.1890000104904175,5.656000137329102 10.553000450134277,7.631999969482422 10.553000450134277,7.631999969482422 C10.553000450134277,7.631999969482422 -0.46700000762939453,9.633000373840332 -0.46700000762939453,9.633000373840332"
                        class=""
                      ></path>
                    </g>
                  </g>
                </g>
              </svg>
            </div>
          </div>
          <p
            class="text-xl font-normal tracking-tight leading-8 text-zinc-900 sm:text-2xl"
          >
            than recruiting<br class="text-2xl" style="line-height: 42px;" />
            in-house
          </p>
        </div>
        <div
          class="flex-col justify-between items-start py-6 px-8 w-64 h-24 bg-white sm:w-64 sm:p-10"
          style="min-width: 220px; border-radius: 14px;"
        >
          <div class="">
            <div class="relative">
              <div
                class="inline-block mb-0 text-xl font-bold leading-9 sm:mb-0 sm:text-4xl"
                style="letter-spacing: -1px;"
              >
                <strong
                  class="text-4xl text-zinc-900"
                  style="line-height: 48px; letter-spacing: -1px;"
                  >Top notch</strong
                ><br
                  class="text-4xl text-zinc-900"
                  style="line-height: 48px; letter-spacing: -1px;"
                />
              </div>
              <div
                data-w-id="c0c42c9c-8d81-522c-185d-ac810d87f622"
                data-is-ix2-target="1"
                class="absolute inset-x-0 sm:inset-x-0"
                data-animation-type="lottie"
                data-src="https://assets-global.website-files.com/5e8b3356a5a8f5321855bbe7/63e0e73fe86e363038ab6f0f_img-8.json"
                data-loop="0"
                data-direction="1"
                data-autoplay="0"
                data-renderer="svg"
                data-duration="1.0333333333333334"
                style="bottom: -10px;"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 125 12"
                  width="125"
                  height="12"
                  preserveAspectRatio="xMidYMid meet"
                  style="width: 100%; height: 100%; transform: translate3d(0px, 0px, 0px);"
                  class="w-full h-full"
                >
                  <defs class="">
                    <clipPath id="__lottie_element_46" class="">
                      <rect width="125" height="12" x="0" y="0" class=""></rect>
                    </clipPath>
                  </defs>
                  <g clip-path="url(#__lottie_element_46)" class="">
                    <g
                      transform="matrix(1,0,0,1,62.41400146484375,5.75600004196167)"
                      opacity="1"
                      style="display: block;"
                      class="block"
                    >
                      <g opacity="1" transform="matrix(1,0,0,1,0,0)" class="">
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="miter"
                          fill-opacity="0"
                          stroke-miterlimit="4"
                          stroke="rgb(255,142,94)"
                          stroke-opacity="1"
                          stroke-width="2"
                          d=" M-60,3.247999906539917 C-55.77000045776367,3.247999906539917 -53.654998779296875,-3.4860000610351562 -48.24100112915039,-3.4860000610351562 C-42.82699966430664,-3.4860000610351562 -41.13600158691406,3.247999906539917 -35.04499816894531,3.247999906539917 C-28.95400047302246,3.247999906539917 -27.091999053955078,-3.4860000610351562 -20.409000396728516,-3.4860000610351562 C-13.72599983215332,-3.4860000610351562 -14.0649995803833,3.247999906539917 -5.690000057220459,3.247999906539917 C2.684999942779541,3.247999906539917 3.700000047683716,-3.4860000610351562 9.791000366210938,-3.4860000610351562 C15.881999969482422,-3.4860000610351562 15.944999694824219,3.247999906539917 24.31999969482422,3.247999906539917 C32.69499969482422,3.247999906539917 33.35499954223633,-3.5 39.02299880981445,-3.5 C49.970001220703125,-3.5 49.654998779296875,5.059000015258789 60,3.247999906539917"
                          class=""
                        ></path>
                      </g>
                    </g>
                  </g>
                </svg>
              </div>
            </div>
            <h3
              class="inline-block my-0 font-sans text-3xl font-bold leading-9 text-zinc-900 sm:mb-0 sm:text-4xl"
              style="letter-spacing: -1px;"
            >
              design
            </h3>
          </div>
          <p
            class="text-xl font-normal tracking-tight leading-8 text-zinc-900 sm:text-2xl"
          >
            quality and <br class="text-2xl" style="line-height: 42px;" />timely
            delivery
          </p>
        </div>
        <div
          class="flex-col justify-between items-start py-6 px-8 w-64 h-24 bg-white sm:w-64 sm:p-10"
          style="min-width: 220px; border-radius: 14px;"
        >
          <div class="">
            <div class="inline-block relative">
              <div
                class="inline-block mb-0 text-xl font-bold leading-9 sm:mb-0 sm:text-4xl"
                style="letter-spacing: -1px;"
              >
                3-
              </div>
              <div
                data-w-id="92b6320a-661f-437a-a297-9b0607e5eb52"
                data-is-ix2-target="1"
                class="absolute"
                data-animation-type="lottie"
                data-src="https://assets-global.website-files.com/5e8b3356a5a8f5321855bbe7/63e0e74283c4eda8a59d2de7_img-10.json"
                data-loop="0"
                data-direction="1"
                data-autoplay="0"
                data-renderer="svg"
                data-duration="1.0333333333333334"
                style="inset: 0px 0px 0px -10px;"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 39 39"
                  width="39"
                  height="39"
                  preserveAspectRatio="xMidYMid meet"
                  style="width: 100%; height: 100%; transform: translate3d(0px, 0px, 0px);"
                  class="w-full h-full"
                >
                  <defs class="">
                    <clipPath id="__lottie_element_50" class="">
                      <rect width="39" height="39" x="0" y="0" class=""></rect>
                    </clipPath>
                  </defs>
                  <g clip-path="url(#__lottie_element_50)" class="">
                    <g
                      transform="matrix(1,0,0,1,19.68400001525879,19.42099952697754)"
                      opacity="1"
                      style="display: block;"
                      class="block"
                    >
                      <g opacity="1" transform="matrix(1,0,0,1,0,0)" class="">
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="miter"
                          fill-opacity="0"
                          stroke-miterlimit="4"
                          stroke="rgb(255,142,94)"
                          stroke-opacity="1"
                          stroke-width="2"
                          d=" M-10.597999572753906,14.401000022888184 C22.43199920654297,23.493000030517578 24.434999465942383,-17.315000534057617 5.833000183105469,-15.675999641418457 C-12.769000053405762,-14.036999702453613 -25.246999740600586,-0.13300000131130219 -12.251999855041504,11.29699993133545"
                          class=""
                        ></path>
                      </g>
                    </g>
                  </g>
                </svg>
              </div>
            </div>
            <div
              class="inline-block mb-0 text-xl font-bold leading-9 sm:mb-0 sm:text-4xl"
              style="letter-spacing: -1px;"
            >
              day
            </div>
            <div class="w-auto"></div>
            <h3
              class="inline-block my-0 font-sans text-3xl font-bold leading-9 text-zinc-900 sm:mb-0 sm:text-4xl"
              style="letter-spacing: -1px;"
            >
              free trial
            </h3>
          </div>
          <p
            class="text-xl font-normal tracking-tight leading-8 text-zinc-900 sm:text-2xl"
          >
            and fixed <br class="text-2xl" style="line-height: 42px;" />monthly
            rate
          </p>
        </div>
      </div>
    </div>
  </div>
  