<div
  class="px-4 mx-auto font-sans leading-5 text-zinc-900"
  style="max-width: 976px;"
>
  <div
    class="relative flex-col justify-center items-center pb-32 leading-5 xl:text-center"
  >
    <div
      class="mb-3 text-xs leading-3 text-center sm:mb-5 sm:text-base sm:leading-7"
    >
      <strong
        class="text-sm font-normal leading-9 uppercase opacity-60 sm:text-base sm:leading-7"
        style="letter-spacing: 2px;"
        >email courses</strong
      >
    </div>
    <div class="relative text-center">
      <div
        data-w-id="afea883f-6373-dfe5-73ec-ec12df3b4fea"
        data-is-ix2-target="1"
        class="w-64 text-zinc-900 xl:w-64 sm:w-64"
        data-animation-type="lottie"
        data-src="https://assets-global.website-files.com/5e8b3356a5a8f5321855bbe7/63f374056a46b0b53e8ad17c_02-ux-ui.json"
        data-loop="0"
        data-direction="1"
        data-autoplay="0"
        data-renderer="svg"
        data-duration="1.0166666666666666"
        style="bottom: 75px;"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 224 18"
          width="224"
          height="18"
          preserveAspectRatio="xMidYMid meet"
          style="width: 100%; height: 100%; transform: translate3d(0px, 0px, 0px);"
          class="w-full h-full"
        >
          <defs class="">
            <clipPath id="__lottie_element_3" class="">
              <rect width="224" height="18" x="0" y="0" class=""></rect>
            </clipPath>
          </defs>
          <g clip-path="url(#__lottie_element_3)" class="">
            <g
              transform="matrix(-1,0,0,1,112,9)"
              opacity="1"
              style="display: block;"
              class="block"
            >
              <g opacity="1" transform="matrix(1,0,0,1,0,0)" class="">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="miter"
                  fill-opacity="0"
                  stroke-miterlimit="4"
                  stroke="rgb(255,142,94)"
                  stroke-opacity="1"
                  stroke-width="1.5"
                  d=" M-117,-3.7119998931884766 C-108.75199890136719,-3.7119998931884766 -104.62699890136719,3.9830000400543213 -94.06999969482422,3.9830000400543213 C-83.51300048828125,3.9830000400543213 -80.21399688720703,-3.7119998931884766 -68.33699798583984,-3.7119998931884766 C-56.459999084472656,-3.7119998931884766 -52.83000183105469,3.9830000400543213 -39.79800033569336,3.9830000400543213 C-26.766000747680664,3.9830000400543213 -27.426000595092773,-3.7119998931884766 -11.095000267028809,-3.7119998931884766 C5.236000061035156,-3.7119998931884766 7.216000080108643,3.9830000400543213 19.093000411987305,3.9830000400543213 C30.969999313354492,3.9830000400543213 31.0939998626709,-3.7119998931884766 47.42499923706055,-3.7119998931884766 C63.75600051879883,-3.7119998931884766 65.04299926757812,4 76.09600067138672,4 C97.44300079345703,4 96.8280029296875,-5.7820000648498535 117,-3.7119998931884766"
                  class=""
                ></path>
              </g>
            </g>
          </g>
        </svg>
      </div>
      <div
        data-w-id="7fb1d896-00e8-ed33-c166-bd3f2d4ee7f2"
        data-is-ix2-target="1"
        class="w-12 text-zinc-900"
        data-animation-type="lottie"
        data-src="https://assets-global.website-files.com/5e8b3356a5a8f5321855bbe7/63e0e74221fa4763c9a4f6ca_img-11-scale.json"
        data-loop="0"
        data-direction="1"
        data-autoplay="0"
        data-renderer="svg"
        data-duration="1.0333333333333334"
        style="right: 10px; top: -10px;"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 39 29"
          width="39"
          height="29"
          preserveAspectRatio="xMidYMid meet"
          style="width: 100%; height: 100%; transform: translate3d(0px, 0px, 0px);"
          class="w-full h-full"
        >
          <defs class="">
            <clipPath id="__lottie_element_7" class="">
              <rect width="39" height="29" x="0" y="0" class=""></rect>
            </clipPath>
          </defs>
          <g clip-path="url(#__lottie_element_7)" class="">
            <g
              transform="matrix(1,0,0,1,19.5,14.5)"
              opacity="1"
              style="display: block;"
              class="block"
            >
              <g opacity="1" transform="matrix(1,0,0,1,0,0)" class="">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  fill-opacity="0"
                  stroke="rgb(255,142,94)"
                  stroke-opacity="1"
                  stroke-width="2"
                  d="M0 0"
                  class=""
                ></path>
              </g>
            </g>
          </g>
        </svg>
      </div>
      <h1
        class="mt-0 mb-8 text-6xl xl:text-6xl sm:mb-8 sm:text-6xl"
        style="line-height: 70px;"
      >
        Product Design<br
          class="font-bold"
          style="line-height: 84px;"
        />Essentials in 7 Days
      </h1>
    </div>
  </div>
  <div class="leading-5">
    <div
      class="block flex-wrap mr-0 -ml-3 text-zinc-900"
      style="gap: 20px 0px;"
    >
      <div class="flex-col px-2 w-auto">
        <div
          class="flex flex-col justify-between p-12 h-full bg-white rounded-xl xl:p-12 sm:flex sm:flex-col"
        >
          <img
            src="https://assets-global.website-files.com/5e8b3356a5a8f5321855bbe7/6410a007e9fd6c8ed8066eca_img-email-course-02.svg"
            loading="lazy"
            alt="image"
            class="inline-block self-center mb-12 max-w-full h-48 align-middle border-0 sm:mb-12"
            style="max-height: none; min-height: auto;"
          />
          <h2 class="mb-5 text-3xl font-bold leading-9 xl:text-4xl">
            How to Spark <br class="text-4xl" style="line-height: 46px;" />an
            Aha Moment
          </h2>
          <p class="mb-5 text-xl leading-8 xl:mb-10 xl:text-2xl">
            The concept of aha moment often seems abstract. This course will
            explain how aha moment can guide design solutions.
          </p>
          <div
            class="table clear-both"
            style='content: " "; grid-area: 1 / 1 / 2 / 2;'
          >
            <a
              href="https://www.eleken.co/email-courses/aha-moment"
              class="font-medium text-center uppercase bg-orange-400 rounded-lg cursor-pointer sm:flex sm:items-center sm:justify-center sm:px-5 sm:pt-4 sm:pb-5 md:text-xs"
              style="text-decoration: none; line-height: 1.25px; letter-spacing: 2px;"
            >
              Get started
              <svg
                class="inline-block my-0 mr-0 ml-3 text-xs uppercase"
                width="13"
                height="11"
                viewBox="0 0 13 11"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                style="transition: all 0.3s ease 0s; line-height: 1.25px; letter-spacing: 2px;"
              >
                <path
                  d="M0 5.43066L12 5.43067"
                  stroke="#1D1E22"
                  class="uppercase"
                  style="line-height: 1.25px; letter-spacing: 2px;"
                ></path>
                <path
                  d="M6.87109 0.5L11.9988 5.5L6.87109 10.5"
                  stroke="#1D1E22"
                  class="uppercase"
                  style="line-height: 1.25px; letter-spacing: 2px;"
                ></path>
              </svg>
            </a>

            <style class="">
               .button-primary-embet {
              text-align: center;
                 background: #ff8e5e;
                 border-radius: 8px;
                 font-weight: 500;
                 line-height: 1.25px;
                 letter-spacing: 2px;
                 text-transform: uppercase;
                 color: #1D1E22;
                 text-decoration: none;
               }

               .icon-arrow {
                 transition: all 0.3s ease;
                 margin: 0 0 0 12px;
                 display: inline-block;
               }

               .button-primary-embet:hover .icon-arrow {
                 transform: translate(5px);
               }

               @media only screen and (min-width: 320px) {
                 .button-primary-embet {
                   display: flex;
                   align-items: center;
                   justify-content: center;
                   font-size: 10px;
                   padding: 18px 30px 19px;
                 }
               }

               @media only screen and (min-width: 425px) {
                 .button-primary-embet {
                   display: inline-flex;
                 	align-items: center;
                 }
               }

               @media only screen and (min-width: 750px) {
                 .button-primary-embet {
                   font-size: 12px;
                 }
               }
            </style>
          </div>
        </div>
      </div>
      <div class="">
        <div
          class="flex flex-col justify-between p-12 h-full bg-white rounded-xl xl:p-12 sm:flex sm:flex-col"
        >
          <img
            src="https://assets-global.website-files.com/5e8b3356a5a8f5321855bbe7/640f373ac8eb48509d4276b6_img-email-course-04.svg"
            loading="lazy"
            alt="image"
            class="inline-block self-center mb-12 max-w-full h-48 align-middle border-0 sm:mb-12"
            style="max-height: none; min-height: auto;"
          />
          <h2 class="mb-5 text-3xl font-bold leading-9 xl:text-4xl">
            How to Define <br class="text-4xl" style="line-height: 46px;" />and
            Design an MVP?
          </h2>
          <p class="mb-5 text-xl leading-8 xl:mb-10 xl:text-2xl">
            The concept of aha moment often seems abstract. This course will
            explain how aha moment can guide design solutions.
          </p>
          <div
            class="table clear-both"
            style='content: " "; grid-area: 1 / 1 / 2 / 2;'
          >
            <a
              href="https://www.eleken.co/email-courses/how-to-define-and-design-an-mvp"
              class="font-medium text-center uppercase bg-orange-400 rounded-lg cursor-pointer sm:flex sm:items-center sm:justify-center sm:px-5 sm:pt-4 sm:pb-5 md:text-xs"
              style="text-decoration: none; line-height: 1.25px; letter-spacing: 2px;"
            >
              Get started
              <svg
                class="inline-block my-0 mr-0 ml-3 text-xs uppercase"
                width="13"
                height="11"
                viewBox="0 0 13 11"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                style="transition: all 0.3s ease 0s; line-height: 1.25px; letter-spacing: 2px;"
              >
                <path
                  d="M0 5.43066L12 5.43067"
                  stroke="#1D1E22"
                  class="uppercase"
                  style="line-height: 1.25px; letter-spacing: 2px;"
                ></path>
                <path
                  d="M6.87109 0.5L11.9988 5.5L6.87109 10.5"
                  stroke="#1D1E22"
                  class="uppercase"
                  style="line-height: 1.25px; letter-spacing: 2px;"
                ></path>
              </svg>
            </a>

            <style class="">
               .button-primary-embet {
              text-align: center;
                 background: #ff8e5e;
                 border-radius: 8px;
                 font-weight: 500;
                 line-height: 1.25px;
                 letter-spacing: 2px;
                 text-transform: uppercase;
                 color: #1D1E22;
                 text-decoration: none;
               }

               .icon-arrow {
                 transition: all 0.3s ease;
                 margin: 0 0 0 12px;
                 display: inline-block;
               }

               .button-primary-embet:hover .icon-arrow {
                 transform: translate(5px);
               }

               @media only screen and (min-width: 320px) {
                 .button-primary-embet {
                   display: flex;
                   align-items: center;
                   justify-content: center;
                   font-size: 10px;
                   padding: 18px 20px 19px;
                 }
               }

               @media only screen and (min-width: 425px) {
                 .button-primary-embet {
                   display: inline-flex;
                 	align-items: center;
                 }
               }

               @media only screen and (min-width: 750px) {
                 .button-primary-embet {
                   font-size: 12px;
                 }
               }
            </style>
          </div>
        </div>
      </div>
      <div class="flex-col px-2 w-auto">
        <div
          class="flex flex-col justify-between p-12 h-full bg-white rounded-xl xl:p-12 sm:flex sm:flex-col"
        >
          <img
            src="https://assets-global.website-files.com/5e8b3356a5a8f5321855bbe7/640f3738d667a60665dc3943_img-email-course-01.svg"
            loading="lazy"
            alt="image"
            class="inline-block self-center mb-12 max-w-full h-48 align-middle border-0 sm:mb-12"
            style="max-height: none; min-height: auto;"
          />
          <h2 class="mb-5 text-3xl font-bold leading-9 xl:text-4xl">
            How to Create Best User Onboarding Experience
          </h2>
          <p class="mb-5 text-xl leading-8 xl:mb-10 xl:text-2xl">
            The concept of aha moment often seems abstract. This course will
            explain how aha moment can guide design solutions.
          </p>
          <div
            class="table clear-both"
            style='content: " "; grid-area: 1 / 1 / 2 / 2;'
          >
            <a
              href="https://www.eleken.co/email-courses/user-onboarding"
              class="font-medium text-center uppercase bg-orange-400 rounded-lg cursor-pointer sm:flex sm:items-center sm:justify-center sm:px-5 sm:pt-4 sm:pb-5 md:text-xs"
              style="text-decoration: none; line-height: 1.25px; letter-spacing: 2px;"
            >
              Get started
              <svg
                class="inline-block my-0 mr-0 ml-3 text-xs uppercase"
                width="13"
                height="11"
                viewBox="0 0 13 11"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                style="transition: all 0.3s ease 0s; line-height: 1.25px; letter-spacing: 2px;"
              >
                <path
                  d="M0 5.43066L12 5.43067"
                  stroke="#1D1E22"
                  class="uppercase"
                  style="line-height: 1.25px; letter-spacing: 2px;"
                ></path>
                <path
                  d="M6.87109 0.5L11.9988 5.5L6.87109 10.5"
                  stroke="#1D1E22"
                  class="uppercase"
                  style="line-height: 1.25px; letter-spacing: 2px;"
                ></path>
              </svg>
            </a>

            <style class="">
               .button-primary-embet {
              text-align: center;
                 background: #ff8e5e;
                 border-radius: 8px;
                 font-weight: 500;
                 line-height: 1.25px;
                 letter-spacing: 2px;
                 text-transform: uppercase;
                 color: #1D1E22;
                 text-decoration: none;
               }

               .icon-arrow {
                 transition: all 0.3s ease;
                 margin: 0 0 0 12px;
                 display: inline-block;
               }

               .button-primary-embet:hover .icon-arrow {
                 transform: translate(5px);
               }

               @media only screen and (min-width: 320px) {
                 .button-primary-embet {
                   display: flex;
                   align-items: center;
                   justify-content: center;
                   font-size: 10px;
                   padding: 18px 20px 19px;
                 }
               }

               @media only screen and (min-width: 425px) {
                 .button-primary-embet {
                   display: inline-flex;
                 	align-items: center;
                 }
               }

               @media only screen and (min-width: 750px) {
                 .button-primary-embet {
                   font-size: 12px;
                 }
               }
            </style>
          </div>
        </div>
      </div>
      <div class="flex-col px-2 w-auto">
        <div
          class="flex flex-col justify-between p-12 h-full bg-white rounded-xl xl:p-12 sm:flex sm:flex-col"
        >
          <img
            src="https://assets-global.website-files.com/5e8b3356a5a8f5321855bbe7/640f3736d667a6064bdc3929_img-email-course-03.svg"
            loading="lazy"
            alt="image"
            class="inline-block self-center mb-12 max-w-full h-48 align-middle border-0 sm:mb-12"
            style="max-height: none; min-height: auto;"
          />
          <h2 class="mb-5 text-3xl font-bold leading-9 xl:text-4xl">
            How to Achieve Product-led Growth<br
              class="text-4xl"
              style="line-height: 46px;"
            />
          </h2>
          <p class="mb-5 text-xl leading-8 xl:mb-10 xl:text-2xl">
            The concept of aha moment often seems abstract. This course will
            explain how aha moment can guide design solutions.
          </p>
          <div
            class="table clear-both"
            style='content: " "; grid-area: 1 / 1 / 2 / 2;'
          >
            <a
              href="https://www.eleken.co/email-courses/product-led-growth"
              class="font-medium text-center uppercase bg-orange-400 rounded-lg cursor-pointer sm:flex sm:items-center sm:justify-center sm:px-5 sm:pt-4 sm:pb-5 md:text-xs"
              style="text-decoration: none; line-height: 1.25px; letter-spacing: 2px;"
            >
              Get started
              <svg
                class="inline-block my-0 mr-0 ml-3 text-xs uppercase"
                width="13"
                height="11"
                viewBox="0 0 13 11"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                style="transition: all 0.3s ease 0s; line-height: 1.25px; letter-spacing: 2px;"
              >
                <path
                  d="M0 5.43066L12 5.43067"
                  stroke="#1D1E22"
                  class="uppercase"
                  style="line-height: 1.25px; letter-spacing: 2px;"
                ></path>
                <path
                  d="M6.87109 0.5L11.9988 5.5L6.87109 10.5"
                  stroke="#1D1E22"
                  class="uppercase"
                  style="line-height: 1.25px; letter-spacing: 2px;"
                ></path>
              </svg>
            </a>

            <style class="">
               .button-primary-embet {
              text-align: center;
                 background: #ff8e5e;
                 border-radius: 8px;
                 font-weight: 500;
                 line-height: 1.25px;
                 letter-spacing: 2px;
                 text-transform: uppercase;
                 color: #1D1E22;
                 text-decoration: none;
               }

               .icon-arrow {
                 transition: all 0.3s ease;
                 margin: 0 0 0 12px;
                 display: inline-block;
               }

               .button-primary-embet:hover .icon-arrow {
                 transform: translate(5px);
               }

               @media only screen and (min-width: 320px) {
                 .button-primary-embet {
                   display: flex;
                   align-items: center;
                   justify-content: center;
                   font-size: 10px;
                   padding: 18px 20px 19px;
                 }
               }

               @media only screen and (min-width: 425px) {
                 .button-primary-embet {
                   display: inline-flex;
                 	align-items: center;
                 }
               }

               @media only screen and (min-width: 750px) {
                 .button-primary-embet {
                   font-size: 12px;
                 }
               }
            </style>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
