---
import Card2 from '../organisms/Card2.astro';
import Breadcrumbs1 from '../organisms/Breadcrumbs1.astro';
---

<section class="w-full pl-2/6">
    <div class="container w-full pl-16 px-4 mx-auto">
        <Breadcrumbs1 />
      <!-- CARD WRAPPER -->
      <div class="flex flex-wrap -mx-4 -mb-6">
        <Card2 />
        <Card2 />
        <Card2 />
        <Card2 />
        <Card2 />
        <Card2 />
      </div>
      <!-- END CARD WRAPPER -->
    </div>
  </section>