---

import Layout from '../../../layouts/Layout.astro';

    /* PRODKT API */
    const response = await fetch('http://127.0.0.1:1337/api/courses?populate=*');
    const { data } = await response.json();
    /* END PRODKT API */
---
<Layout title="test">
{
    data.map((courses) => (
      <>
      <a href={`/${courses.attributes.slug}/courses/`}> {courses.attributes.title} </a>
      </>
    ))
  }
</Layout>