---
import { join } from "node:path";
import type { Props } from "./Search.js";

const { id, className } = Astro.props as Props;
const bundlePath = join(import.meta.env.BASE_URL, "_pagefind/");
const divProps = {
  ...(id ? { id } : {}),
  ...(className ? { class: className } : {}),
};
---

<div class="infor-searchbar h-full"  data-bundle-path={bundlePath}></div>
<script>
  window.addEventListener("DOMContentLoaded", () => {
    const el = document.querySelector(selector);
    const bundlePath = el?.getAttribute("data-bundle-path");
    new PagefindUI({
      element: selector,
      bundlePath,
    });
  });
</script>