---

---

<ul class="flex flex-row flex-wrap">
    <li href="#" class="text-xs font-medium leading-6 text-base12 p-4">Developer</li>
    <li href="#" class="text-xs font-medium leading-6 text-base12 p-4">Designer</li>
    <li href="#" class="text-xs font-medium leading-6 text-base12 p-4">Manager</li>
    <li href="#" class="text-xs font-medium leading-6 text-base12 p-4">Executive</li>
    <li href="#" class="text-xs font-medium leading-6 text-base12 p-4">Developer</li>
    <li href="#" class="text-xs font-medium leading-6 text-base12 p-4">Designer</li>
    <li href="#" class="text-xs font-medium leading-6 text-base12 p-4">Manager</li>
    <li href="#" class="text-xs font-medium leading-6 text-base12 p-4">Executive</li>
    <li href="#" class="text-xs font-medium leading-6 text-base12 p-4">Developer</li>
    <li href="#" class="text-xs font-medium leading-6 text-base12 p-4">Designer</li>
    <li href="#" class="text-xs font-medium leading-6 text-base12 p-4">Manager</li>
    <li href="#" class="text-xs font-medium leading-6 text-base12 p-4">Executive</li>
</ul>