---
import Layout from '../../layouts/Layout.astro';


export async function getStaticPaths() {
const response = await fetch("http://127.0.0.1:1337/api/learning-roles?populate=*");
const { data } = await response.json();
  return data.map((learningrole) => {
    return {
      params: { slug: learningrole.attributes.slug },
      props: { learningrole },
    };
  });
}

const { learningrole } = Astro.props
---

<Layout title="index">
	<main> 

          <h2>{learningrole.attributes.title}</h2>

</main>
</Layout>