---
import Layout from '../../layouts/Layout.astro';

const response = await fetch("http://127.0.0.1:1337/api/learning-roles?populate=*");
const { data } = await response.json();
export function getStaticPaths() {
  return data.map((role) => {
    return {
      params: { slug: role.attributes.slug },
      props: { role },
    };
  });
}

const { role } = Astro.props
---

<Layout title="index">
	<main> 
    {
      data.map((role) => (
        <>
          <h2>{role.attributes.title}</h2>
          <p>{role.attributes.description}</p>
        </>
      ))
    }

</main>
</Layout>