---
import AsideIndustries from '../system/AsideIndustries.astro'
import AsideLearningLifecycle from '../system/AsideLearningLifecycle.astro'
import AsideRoles from '../system/AsideRoles.astro'
import { Icon } from 'astro-icon'

---
			<!-- Static sidebar for desktop -->
			<!-- <div class="lg:fixed lg:z-50 lg:w-2/6 lg:flex-col left-8 top-8 h-auto bottom-8 transform"> -->
        <div id="toggleFilters" class="lg:fixed lg:z-50 lg:w-2/6 lg:flex-col left-8 top-8  bottom-8 transition-all duration-1000">
          
                <!-- Sidebar component -->
                <div class="flex flex-col h-92vh gap-y-2 overflow-y-auto rounded-2xl bg-base1 border border-base4 shadow-2xl p-6 overflow-y-hidden relative">
                  <a id="toggleBtn" class="toggleBtn inline-block absolute top-0 right-0 m-6 text-base11 hover:text-base11" href="#">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12C11 12.5523 11.4477 13 12 13Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M12 20C12.5523 20 13 19.5523 13 19C13 18.4477 12.5523 18 12 18C11.4477 18 11 18.4477 11 19C11 19.5523 11.4477 20 12 20Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M12 6C12.5523 6 13 5.55228 13 5C13 4.44772 12.5523 4 12 4C11.4477 4 11 4.44772 11 5C11 5.55228 11.4477 6 12 6Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                  </a>
                  <nav class="flex flex-1 flex-col gap-4 h-full">
                      <div class=" rounded-lg">
                          <legend class="text-base font-semibold leading-6 mb-4">Industry</legend>
                          <AsideIndustries />
                      </div>
                      <div class=" rounded-lg">
                          <legend class="text-base font-semibold leading-6 mb-4">Learning Lifecycle</legend>
                          <AsideLearningLifecycle />
                      </div>
                      <div class=" rounded-lg border border-base4 overflow-hidden h-full">
                        <div class="px-3 py-2 border-b border-base4 flex items-center">
                          <legend class="text-base font-semibold leading-6">Roles</legend>
                        </div>
                        <div class="p-1px bottom-41px h-full relative">
                          <div class="flex flex-col  h-full gap-0 overflow-x-hidden overflow-y-scroll infor-scroll max-h-full bg-base1">
                            <h6 class="p-3 fixed top-0 sticky bg-base1 border-b border-base4 mb-0">A</h6>
                            <ul class="flex flex-row flex-wrap p-0 pr-1px">
                              <AsideRoles />
                            <!-- <li href="#" class="text-xs font-medium leading-6 text-base12 rounded-md px-4 py-2 flex flex-row items-center gap-1 bg-base1 text-base9 hover:bg-base3 group cursor-pointer w-1/4"><Icon pack="carbon" name="user-role" class="w-4 w-4 group-hover:text-base12" />Developer</li>
                            <li href="#" class="text-xs font-medium leading-6 text-base12 rounded-md px-4 py-2 flex flex-row items-center gap-1 bg-base1 text-base9 hover:bg-base3 group cursor-pointer w-1/4"><Icon pack="carbon" name="user-role" class="w-4 w-4 group-hover:text-base12" />Developer</li>
                            <li href="#" class="text-xs font-medium leading-6 text-base12 rounded-md px-4 py-2 flex flex-row items-center gap-1 bg-base1 text-base9 hover:bg-base3 group cursor-pointer w-1/4"><Icon pack="carbon" name="user-role" class="w-4 w-4 group-hover:text-base12" />Developer</li> 
                            <li href="#" class="text-xs font-medium leading-6 text-base12 rounded-md px-4 py-2 flex flex-row items-center gap-1 bg-base1 text-base9 hover:bg-base3 group cursor-pointer w-1/4"><Icon pack="carbon" name="user-role" class="w-4 w-4 group-hover:text-base12" />Developer</li>
                             -->
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="p-2 rounded-lg">
                        <button class="bg-brand9 hover:bg-brand10 active:bg-brand-11 text-base1 px-3 py-2 rounded-lg font-semibold text-sm w-full">Pull Learning Paths based on your selection</button>
                      </div>
                  </nav>
                </div>
              </div>


<script>

  
  </script>