---
const { title, url, image } = Astro.props
---

<!-- CARD HOUSING -->

            <!-- CARD -->
          <a href={`${url}`} class="relative overflow-hidden w-full flex items-center gap-14 p-6 bg-brand12 text-base3 rounded-2xl hover:shadow-blue7 transition-shadow hover:transition-shadow shadow-2xl" style="
          background-color: rgb(24, 24, 27);
          background-image: radial-gradient(at 100% 0%, rgb(30, 58, 138) 0, transparent 78%), radial-gradient(at 0% 10%, rgb(0, 0, 0) 0, transparent 89%), radial-gradient(at 100% 100%, rgb(30, 58, 138) 0, transparent 100%), radial-gradient(at 0% 43%, rgb(30, 58, 138) 0, transparent 100%), radial-gradient(at 0% 100%, rgb(30, 58, 138) 0, transparent 100%), radial-gradient(at 100% 100%, rgb(30, 58, 138) 0, transparent 100%), radial-gradient(at 100% 0%, rgb(0, 0, 0) 0, transparent 0%), radial-gradient(at 100% 0%, rgb(219, 234, 254) 0, transparent 38%);
        ">
            <div class="inline-flex items-center justify-center w-32 h-32 rounded-full" style="
            filter: drop-shadow(7px 7px 7px rgba(0, 0, 0, 0.5)));
            -webkit-filter: drop-shadow(7px 7px 7px rgba(0,0,0,0.5)); outline: 1px solid rgba(0,0,255,.1); outline-offset: 40px;" >
            <img class="w-32 h-32 rounded-full shadow-2xl shadow-brand12" style="background: rgb(252,70,107);
            background: radial-gradient(circle, rgba(252,70,107,0) 50%, rgba(63,94,251,.325) 100%);  outline: 1px solid rgba(0,0,255,.1); outline-offset: 20px;" src={`${image}`} shape-rendering="geometricPrecision" >
            </div>
            <h4 class="text-xl font-bold">{title}</h4>
          </a>
          <!-- END CARD -->

        <!-- END CARD HOUSING -->