---
export interface Props {
  title: string;
}
import HeadScripts from "../components/system/HeadScripts.astro";
import AfterBodyOpen from "../components/system/AfterBodyOpen.astro";
import LayoutHeader from "../components/organisms/LayoutHeader.astro";
import AsideFilter from "../components/organisms/AsideFilter.astro";
const { title } = Astro.props;
import "../styles/master.scss";
---
<script>
</script>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <HeadScripts />
  </head>
  <body class="bg-base3 overflow-x-hidden w-vw">
    <AfterBodyOpen />
    <div>
      <AsideFilter />
      <div>
        <LayoutHeader />
        <main class="">
          <div id="inforMainSection">
            <!-- Infor content -->
            <slot />
            <!-- Infor content -->
          </div>
        </main>
      </div>
    </div>
  </body>
</html>

<script>

  const btn = document.getElementById('toggleBtn');

  const filterList = document.getElementById('toggleFilters');
  btn.addEventListener('click', (e) => {
  filterList.classList.toggle('collapseFilters');
  });


  const searchFiltering = document.getElementById('inforHeader');
    btn.addEventListener('click', (e) => {
        searchFiltering.classList.toggle('collapseFilters');
    });

const inforMainContent = document.getElementById('inforMainSection');
  btn.addEventListener('click', (e) => {
    inforMainContent.classList.toggle('collapseFilters');
  });
</script>