---
import Layout from '../../layouts/Layout.astro';
const response = await fetch("http://127.0.0.1:1337/api/industry?populate=*");
const { data } = await response.json();
const { path } = Astro.props;
import SectionTwo from '../../components/sections/SectionTwo.astro';


---

<Layout title="index">
	<main>

<SectionTwo />
<!-- {
    data.map((path) => (
    <>  
<h2>{path.attributes.Title}</h2>
<p>{path.attributes.ShortDescription}</p>
<img
src={path.attributes.CardImage.data.attributes.formats.large.url}
alt={path.attributes.Title}
/>
    </>
  ))
} -->

</main>
</Layout>