---
import Layout from '../../../layouts/Layout.astro';

export async function getStaticPaths() {
  const response = await fetch('http://127.0.0.1:1337/api/learning-roles?populate=*');
    const { data } = await response.json();

    if (data && Array.isArray(data)) {
    return data.map((role) => {
      return {
        params: { slug: role.attributes.slug },
        props: { role },
      };
    });
  } else {
    console.error('No data found');
    return [];
  }
}

const { role } = Astro.props;
---
<Layout title="Learning Paths">
<a href={`/learning-paths/${role.attributes.slug}`}> {role.attributes.title} </a>
</Layout>