---
import Layout from '../../layouts/Layout.astro';


export async function getStaticPaths() {
const response = await fetch("http://127.0.0.1:1337/api/courses?populate=*");
const { data } = await response.json();
  return data.map((course) => {
    return {
      params: { slug: course.attributes.slug },
      props: { course },
    };
  });
}

const { course } = Astro.props
---

<Layout title="index">
	<main> 

          <h2>{course.attributes.title}</h2>
          <p>{course.attributes.course.shortDescription}</p>

</main>
</Layout>